/* SidePanel */

.sidepanel{
    padding-top: 1em;
    height: 100vh;
    font-family: 'DosisB';
}

ul {
    list-style: none;
    padding-left: 0;
}

.lg{
    max-height: 7rem;
    max-width: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

li a:active{
    color: black!important;
    font-family: "DosisB";
}

li a:visited{
    color: black!important;
    font-family: "DosisB";
}

.menuItems{
    padding: 2rem;
    text-align: left;
    margin-left: 25%;
    padding-left: 20%;
    border-left: 2px solid #787B7F;
}

@media only screen and (max-width: 768px) {
    .sidepanel{
        padding-top: 2vh;
        height: 10vh;
    }
    .lg{
        max-height: 7rem;
        max-width: 7rem;
        margin-bottom: 1rem;
    }
}

/* SidePanel End */

/* Landing */

.adminLanding{
    height: 90vh;
    padding-top: 13em;
    background-color: #F4F7F8;
    border-top-left-radius: 0%!important;
    border-top-right-radius: 0%!important;
    border-bottom-right-radius: 0%!important;
}

.adminLanding h1{
    padding-bottom: 1em;
}

.adminContainer{
    padding-right: 0%!important;
}

.updateText *{
    font-size: 1.25em;
}

.bold{
    font-family: 'DosisB';
}

/* Landing End */

/* Login */

.Login {
    text-align: center;
    font-family: "Dosis";
    overflow-x: hidden;
  }

  input {
    font-size: 1.5rem;
  }

/*Login*/

.cont{
    background-color: white;
    min-height: 100vh;
    -webkit-box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
  }

.login{
    margin:10rem;
    height: 35rem;
    margin-left:35%;
    margin-right:35%;
    min-width: 20rem;
    border-radius: 15px;
    min-height: 40rem;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }
  
  .login input{
    margin-top: 2rem;
    height: 4rem;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
  }
  
  .Adminbutton{
    background-color: black;
    border: none;
    color: white;
    margin-top: 5%;
    padding: 3px;
    padding-right: 45px;
    padding-left: 45px;
    border-radius: 5px;
  }
  
  /*Login End*/
  
  @media only screen and (max-width: 762px) {
    .login{
        margin: 10rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

/* Login End */

@media only screen and (max-width: 998px) {
    /* SidePanel */
    .sidepanel{
        padding-top: 1em;
        height: 10vh;
    }
    .lg{
        max-height: 7rem;
        max-width: 7rem;
        margin-bottom: 1rem;
    }
    /* Sidepanel end */

    /* landing */

    .adminLanding{
        height: 100vh;
        padding-top: 13em;
        background-color: white;
        border-radius: 0%!important;
    }

    .adminLanding h1{
        font-size: 4em;
    }

    .adminLanding h2{
        font-size: 1.75em;
    }

    .adminLanding h3, .bold{
        font-size: 1.25em;
    }

    /* landing end */
}