.cont{
    background-color: #F4F7F8;
    min-height: 100vh;
  }

.profile{
    margin:15rem;
    margin-left:5%;
    margin-right:5%;
    min-width: 20rem;
    border-radius: 15px;
    min-height: 40rem;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }

  .feedPic{
    margin-bottom: 3em;
  }

  .profLink{
    color:#54D854;
    font-family: 'DosisB';
  }

  .sidepanelSplit{
    margin-top: 2em;
    margin-bottom: 2em;
    float: left;
    width: 10em;
  }

  .links{
    font-family: 'DosisB';
  }

  .sidePanels{
    margin-top:5rem;
    list-style: none;
    padding: 2em;
  }

  .sidePanels li{
    padding-top: 2rem;
    cursor: pointer;
  }