/*Header styling*/

/* *{
  border: 2px dotted black; 
} */

.Header{
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background-color: white;
    -webkit-box-shadow: 0px 2px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 21px -5px rgba(0,0,0,0.75);
  }

  .mobileMenu{
    float: right;
    margin-right: 2rem;
  }

  .mobileMenu i{
    font-size: 3rem;
    color: rgba(0,0,0,0.74);
  }
  
  .active{
    text-decoration: none;
  }
  
  .active:hover{
    text-decoration: none;
  }
  
  .logoText{
    margin-top: 3rem!important;
    float: left;
    color:#3A8B21;
  }
  
  .titleColor{
    color: #54D854;
  }
  
  .logo{
    margin-top: 2rem;
    float: left;
    max-height: 5rem;
    max-width: 8rem;
  }
  
  .Search{
    float: left;
    margin-top: 2rem;
    height: 40px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
  }

  .mainNav{
    float: right;
  }

  .ddLink{
    cursor: pointer;
    font-size: 2rem;
    top: -2rem;
  }
  
  .Search::placeholder{
    font-family: "DosisB";
  }
  
  .but{
    background-color: #3A8B21;
    border: none;
    color: white;
    margin-top: 5px;
    margin-right: 2rem;
    height: 3rem;;
    border-radius: 5px;
  }
  
  .navL h4{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
  }

  .navL{
    padding-top: 2rem;
  }
  
  .navL:hover{
    color: black;
    text-decoration: none;
  }
  
  /*Header End */

  @media only screen and (max-width: 1740px) {
    .logoText{
      font-size: 2rem;
      margin-top: 2rem;
    }

    .but{
      margin-right: 1rem;
    }
}