/*Footer*/

.foot{
    background: rgba(0,0,0,0.84);
    height: 65rem;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}

.base h3, .footerList{
  margin-top: 10rem;
  list-style: none;
}

.footerList li:hover h4{
  color: rgba(255,255,255,0.44);
  cursor: pointer;
}

.buttn{
    background-color: #54D854;
    border: none;
    color: white;
    margin-top: 2rem;
    padding: 3px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 4rem;
    border-radius: 5px;
}

.subscribe{
    margin-top: 2rem;
    height: 4rem;
    border: none;
    margin-right: 2rem;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
}

.subscribe:focus{
  -webkit-box-shadow: inset 0px -1px 9px 3px rgba(84,216,84,0.74);
  -moz-box-shadow: inset 0px -1px 9px 3px rgba(84,216,84,0.74);
  box-shadow: inset 0px -1px 9px 3px rgba(84,216,84,0.74);
}

.fa{
  margin-top: 4rem;
  right: 2rem;
  font-size: 4rem;
  color: rgba(255,255,255,0.24);
  transition: all 1s ease;
}

.fa:hover{
  color: rgba(255,255,255,0.84);
  transition-timing-function: linear;
}

.footerBase{
  margin-top: 13rem;
  filter: grayscale();
}

.baseLineText{
  margin-top: 3rem;
  cursor: pointer;
}

/*Footer End*/