.mainFeed{
    margin-top:5rem;
    min-width: 20rem;
    border-radius: 15px;
    min-height: 40rem;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }

  .title{
    font-family: 'DosisB';
    font-size: 2.25em;
  }

  .title::first-letter{
    text-transform: uppercase;
  }

  .feedHeader{
    font-size: 3.5em!important;
    font-family: 'Roboto';
  }

  .desc::first-letter{
    text-transform: uppercase;
  }


  .budg{
    font-style: normal;
    font-family: 'Roboto';
  }

  .borders{
      border-top: 1px solid rgba(0,0,0,0.16);
      padding-top: 2rem;
      cursor: pointer;
  }

  .link{
    color: black;
  }

  .link:hover{
    text-decoration: none;
    color: black;
  }

  .desc{
    font-size: 1.5rem!important;
  }