.backgroundColor{
    background-color: #F4F7F8;
    min-height: 100vh;
    -webkit-box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
}

.jobs{
    margin-top:15rem;
    padding: 4em;
    min-width: 20rem;
    border-radius: 15px;
    min-height: 40rem;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }

  .reviews{
    padding: 4em;
    padding-top: 0;
    min-width: 20rem;
    border-radius: 15px;
    min-height: 20rem;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }

  .description{
      font-size: 1.5rem!important;
  }

  .butn{
    background-color: #3A8B21;
    border: none;
    color: white;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
  }