.cont{
    background-color: #F4F7F8;
    min-height: 100vh;
    -webkit-box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.16);
  }

  .comform{
    margin:15rem;
    margin-left:25%;
    margin-right:25%;
    min-width: 20rem;
    border-radius: 15px;
    min-height: 40rem;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }
  
  .comform input{
    margin-top: 2rem;
    height: 4rem;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.24);
  }

  .space{
    margin-top: 3rem;
    padding: 3rem;
  }

  @media only screen and (max-width: 768px) {
    .comform{
      margin-left: 0;
      margin-right: 0;
    }
}